body {
    background-image: url('../assets/images/background.jpg');
    font-family: 'Arial', sans-serif;
    color: black;
    letter-spacing: 2px;
}

h1 {
    font-size: 60px;
    color:rgb(243, 140, 140);
}

#splashscreen {
    background-image: url('../assets/images/runway.png');
    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
}

.black-background {
    background-color: #000000;
}

.white {
    color: #ffffff;
}

.splashBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    margin-top: 40%;
}

.splashBox2 {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

label {
    color: rgb(243, 140, 140);
}

#answerScreen {
    display: none;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 17px;
}

#timesUp {
    display: none;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 17px;
}

.up {
    color: rgb(243, 140, 140);
}

.timeRemain {
    padding: 2%;
    color: rgb(243, 140, 140);
}

.timeRemain #time-remain {
    font-size: 50px;
}

body .container {
    background-image: url('../assets/images/background.jpg');
    height: 100%;
    text-align: center;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.questions {
    font-size: 20px;
    ]
}

.ques,
label {
    padding: 1%;
}

header {
    font-size: 50px;
    color: black;
    margin-top: 2%;
}